.wlfc_tree{
	--border: #ddd;
	--border-hover: #aaa;
	--bg-hover: #eee;
	--text: #888;
	--text-hover: #000;
	--ident: 20px;
	--left: -20px;

	border: 0px;
	padding: 10px;	
	margin:10px;
	box-sizing:border-box;
}

.wlfc_tree a { text-decoration: none; }

.home {
	background-color: darkblue;
	color: white;
}

.endpoint {
	background-color: darkgrey;
	color: white;
}

.middle {
	background-color: #fcf7d4;
	color: black;
	font-weight: bold;
}

.node {
	border: 1px solid black;
	padding: 10px;
	min-width: 150px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}

.wlfc_tree ol,
.wlfc_tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.wlfc_tree li {
	display: table-cell;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.wlfc_tree li::before, .wlfc_tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}

.wlfc_tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

.wlfc_tree li:only-child::after, .wlfc_tree li:only-child::before {
	display: none;
}

.wlfc_tree li:only-child {
	padding-top: 0;
}

.wlfc_tree li:first-child::before, .wlfc_tree li:last-child::after {
	border: 0 none;
	display: none;
}

.wlfc_tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.wlfc_tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.wlfc_tree ol ol::before,
.wlfc_tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}

.wlfc_tree ol::before,
.wlfc_tree ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}

.wlfc_tree li .endpoint:hover {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}

